.btn1 {
  position: relative;
  width: 30px;
  height: 30px;
  top: 0px;
  left: 22px;
  transition-duration: 0.5s; }
  .btn1 .icon-left {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 15px;
    top: 15px;
    background-color: #212121;
    left: 0px; }
    .btn1 .icon-left:before {
      transition-duration: 0.5s;
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: #212121;
      content: "";
      top: -10px; }
    .btn1 .icon-left:after {
      transition-duration: 0.5s;
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: #212121;
      content: "";
      top: 10px; }
    .btn1 .icon-left:hover {
      cursor: pointer; }
  .btn1 .icon-right {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 15px;
    top: 15px;
    background-color: #212121;
    left: 15px; }
    .btn1 .icon-right:before {
      transition-duration: 0.5s;
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: #212121;
      content: "";
      top: -10px; }
    .btn1 .icon-right:after {
      transition-duration: 0.5s;
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: #212121;
      content: "";
      top: 10px; }
  .btn1.open .icon-left {
    transition-duration: 0.5s;
    background: transparent; }
    .btn1.open .icon-left:before {
      -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
      transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px); }
    .btn1.open .icon-left:after {
      -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
      transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px); }
  .btn1.open .icon-right {
    transition-duration: 0.5s;
    background: transparent; }
    .btn1.open .icon-right:before {
      -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
      transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px); }
    .btn1.open .icon-right:after {
      -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
      transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px); }
  .btn1:hover {
    cursor: pointer; }

@font-face {
  font-family: 'Gt Walsheim';
  src: url("../fonts/gt-walsheim-web.ttf") format('truetype'), url("../fonts/gt-walsheim-web.woff") format('woff'), url("../fonts/gt-walsheim-web.eot") format('embedded-opentype') url("../fonts/gt-walsheim-web.svg#gt-walsheim-web") format('svg'); }

@font-face {
  font-family: 'Caslon';
  src: url("../fonts/caslon-540.ttf") format('truetype'), url("../fonts/caslon-540.eot") format('embedded-opentype'); }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-size: 10px;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Gt Walsheim", sans-serif; }

p {
  font-family: "Caslon", serif;
  line-height: 1.2;
  text-align: center;
  font-size: 1.6rem;
  color: white; }

section h1 {
  font-size: 2.4rem;
  text-align: center;
  color: white;
  margin-bottom: 0.5rem; }

section h2 {
  font-size: 2rem;
  color: white; }

section h3 {
  font-size: 1.8rem;
  color: white;
  text-align: center; }

.wrapper {
  width: 80%;
  margin: auto; }

.fullwidth {
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto !important; }

header {
  position: fixed;
  top: 0;
  margin: auto;
  background-color: white; }

nav {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  background-color: transparent;
  font-family: 'GT Walsheim',
    sans-serif;
  color: #333333; }
  nav .respheading {
    display: none; }
  nav a {
    text-decoration: none;
    color: #333333;
    opacity: .8;
    transition: opacity .25s ease-in; }
  nav a:hover {
    opacity: 1; }
  nav ul {
    font-size: 1.6rem;
    list-style-type: none;
    width: auto;
    margin: auto;
    text-align: center; }
    nav ul li {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      display: inline; }
  nav div.togglerow {
    display: none; }

#bigheading {
  background: white url(../img/pianokeys.png) no-repeat top center;
  padding-top: 34rem;
  padding-bottom: 5rem;
  font-family: 'GT Walsheim';
  text-align: center;
  width: auto;
  margin: auto;
  color: black; }
  #bigheading h1 {
    font-size: 6rem;
    margin-bottom: 0;
    margin-top: 0;
    line-height: .85;
    color: black; }
  #bigheading .end {
    font-size: 10rem; }
  #bigheading .music {
    font-size: 9rem; }
  #bigheading .tech {
    font-size: 10.6rem;
    padding-top: .5rem; }
  #bigheading .and {
    font-size: 15rem; }
  #bigheading h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.5rem;
    line-height: .85;
    color: black; }
  #bigheading div {
    display: inline-block;
    vertical-align: top; }
  #bigheading .anddiv {
    vertical-align: bottom; }

.headwrao {
  position: fixed; }

#about {
  background-color: #530000; }

hr {
  width: 15rem;
  margin-bottom: 3rem; }

.about {
  padding-bottom: 5rem; }
  .about h2 {
    text-align: center;
    color: white;
    margin-bottom: 0.2rem; }
  .about .skillwrap {
    margin-top: 2rem;
    text-align: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .about .skills {
    color: white;
    display: flex-item;
    text-align: left;
    width: calc(100%/2);
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .about .skills ul {
      list-style: none;
      text-align: center; }
      .about .skills ul li {
        font-size: 1.6rem; }

#music {
  background-color: black;
  padding: 2rem; }
  #music h1 {
    margin: 0; }
  #music h3 {
    margin: 0; }

#projects {
  background-color: #050127;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  #projects h1 {
    padding-bottom: 2rem; }
  #projects .subheading {
    margin-bottom: 2rem; }

.floatright {
  float: right; }

.clear {
  clear: both; }

.proj-container {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .proj-container .item {
    text-align: center;
    display: flex-item;
    width: calc(100%/2);
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .proj-container .item p {
      display: block;
      font-size: 1.1rem;
      margin: 0; }
    .proj-container .item .p1content {
      display: none; }
    .proj-container .item .p2content {
      display: none; }
  .proj-container .item:hover {
    cursor: pointer; }
  .proj-container .cell {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background-color: blanchedalmond;
    height: 9rem;
    max-height: 9rem;
    margin: 2rem; }
    .proj-container .cell .title {
      margin-bottom: 0rem; }
  .proj-container #proj1 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/water.jpg"); }
  .proj-container #proj2 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/pursuits_color.png");
    background-position: top; }
  .proj-container #proj3 {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/gosomewhere.jpg"); }
  .proj-container #proj4 {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/lgncl.jpg"); }
  .proj-container h2 {
    color: azure;
    margin: 0;
    font-size: 1.7rem; }

.pursuits {
  background-color: #35A37F; }

.projcontent .content {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -ms-flexbox;
  display: -webkit-flex;
  height: auto;
  background-color: white;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: flex;
  background-color: transparent;
  @-webkit-keyframes bar-fill {
    0% {
      width: 0; } }

  @keyframes bar-fill {
    0% {
      width: 0; } }
 }
  .projcontent .content .white {
    color: white !important; }
  .projcontent .content .con-text {
    width: 50%; }
  .projcontent .content .half {
    width: 50%; }
  .projcontent .content .thirds {
    width: calc(100%/3); }
  .projcontent .content div {
    margin-top: 4rem; }
  .projcontent .content ul {
    list-style: square; }
    .projcontent .content ul li {
      padding: .4rem;
      font-family: Caslon;
      color: #333333;
      font-size: 1.6rem; }
  .projcontent .content .con-img {
    text-align: left; }
    .projcontent .content .con-img img {
      width: 100%; }
  .projcontent .content .pad-top {
    padding-top: 2rem; }
  .projcontent .content .margin-clear {
    margin-top: 0; }
  .projcontent .content .margin-left {
    margin-left: 6rem; }
  .projcontent .content .sixty {
    display: block;
    margin: auto;
    width: 60%; }
  .projcontent .content .eighty {
    display: block;
    margin: auto;
    width: 80%; }
  .projcontent .content .img-center {
    display: block;
    margin: auto; }
  .projcontent .content .pad-left {
    padding-left: 2rem; }
  .projcontent .content .pad-right {
    padding-right: 2rem; }
  .projcontent .content p {
    color: #333333;
    text-align: left;
    padding-right: 2rem; }
  .projcontent .content h2 {
    color: #333333;
    font-size: 2rem;
    margin-top: 0; }
  .projcontent .content h3 {
    color: #333333;
    font-size: 1.8rem;
    margin-top: 0; }
  .projcontent .content .cta {
    display: block;
    margin: auto;
    text-align: center; }
  .projcontent .content progress, .projcontent .content progress[role] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-size: auto;
    height: 2rem;
    width: 90%; }
  .projcontent .content .growth-stats {
    list-style: none;
    margin: 0;
    padding: 0rem; }
    .projcontent .content .growth-stats h3 {
      margin-bottom: .5rem; }
  .projcontent .content .stat {
    margin-bottom: 0rem;
    position: relative;
    z-index: -1; }
    .projcontent .content .stat h3 {
      color: #fff;
      font-size: 1.3rem;
      font-family: GT Walsheim, arial, sans-serif;
      left: 1rem;
      line-height: 0;
      position: relative;
      top: 1.5rem; }
    .projcontent .content .stat ::-webkit-progress-value {
      -webkit-animation: bar-fill 2s;
      width: 0px; }
  .projcontent .content .stat-1::-webkit-progress-value {
    background: #ff9e2c; }
  .projcontent .content .stat-1::-moz-progress-bar {
    background: #ff9e2c; }
  .projcontent .content .stat-2::-webkit-progress-value {
    background: #4ecdc4; }
  .projcontent .content .stat-2::-moz-progress-bar {
    background: #4ecdc4; }
  .projcontent .content .stat-3::-webkit-progress-value {
    background: #ff6b6b; }
  .projcontent .content .stat-3::-moz-progress-bar {
    background: #ff6b6b; }

.socials {
  text-align: center;
  width: 100%;
  display: block;
  margin: auto; }
  .socials a {
    padding: 2rem; }

.about h3 a {
  color: white;
  text-decoration: none;
  transition: color .25s ease-in; }

.about h3 a:hover {
  color: goldenrod; }

@media only screen and (max-width: 50em) {
  .about .skillwrap {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
  .about .skills {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  nav {
    width: auto;
    text-align: center; }
    nav ul {
      display: none; }
      nav ul #logo {
        display: none; }
      nav ul li {
        display: block; }
    nav div.togglerow {
      text-align: left;
      display: inline; }
      nav div.togglerow .btn1 {
        float: left; }
    nav .respheading {
      margin: 0;
      display: inline-block;
      font-size: 1.6rem; }
  #bigheading {
    background-size: 100%;
    padding-top: 22rem; }
  .proj-container .item {
    width: 100%; }
  .projcontent .content .con-text {
    width: 100%; }
  .projcontent .content .con-img {
    width: 100%; }
  .projcontent .content .half {
    width: 100%; }
  .projcontent .content .thirds {
    width: 100%; }
  .projcontent .content .sixty {
    width: 75%; }
  .projcontent .content .pad-right {
    padding: 0; }
  .projcontent .content .pad-left {
    padding: 0; } }

@media only screen and (min-width: 50em) and (max-width: 64em) {
  .about .skillwrap {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  .about .skills {
    -webkit-flex: 1 0 30%;
    -ms-flex: 1 0 30%;
    flex: 1 0 30%; }
  nav ul li {
    display: inline; }
  nav div.togglerow {
    display: none; }
    nav div.togglerow .menu {
      margin: auto; }
  .projcontent .content .con-text {
    width: 100%; }
  .projcontent .content .con-img {
    width: 100%; }
  .projcontent .content .half {
    width: 100%; }
  .projcontent .content .thirds {
    width: 100%; }
  .projcontent .content .sixty {
    width: 60%;
    display: block;
    margin: auto; } }
